{
  "props": {
    "pageProps": {
      "merchantJson": {
        "x-generator": "NSwag v14.0.3.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))",
        "openapi": "3.0.0",
        "info": {
          "title": "Qliro.Payments.MerchantApi API",
          "version": "v1"
        },
        "servers": [
          {
            "url": "https://pago.qit.nu/checkout/merchantapi"
          }
        ],
        "paths": {
          "/Orders": {
            "post": {
              "tags": [
                "Orders"
              ],
              "summary": "Creates new order",
              "description": "When the merchant is ready to load Qliro Checkout, the order is created on Qliro end through this request",
              "operationId": "createOrder",
              "requestBody": {
                "x-name": "createOrderRequest",
                "description": "Order details to be created",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CreateOrderRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "201": {
                  "description": "HTTP Header: Location with the new resource",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CreateOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            },
            "get": {
              "tags": [
                "Orders"
              ],
              "summary": "Gets existing order by merchant reference",
              "description": "MerchantReference is merchant's order id. The MerchantReference provided in the CreateOrder request can be used to get the order information",
              "operationId": "getOrderByMerchantReference",
              "parameters": [
                {
                  "name": "merchantReference",
                  "in": "query",
                  "description": "Order merchant reference to get order by",
                  "schema": {
                    "type": "string",
                    "nullable": true
                  },
                  "x-position": 1
                }
              ],
              "responses": {
                "200": {
                  "description": "Information about the order, together with the HTML snippet used to deploy the Qliro Checkout frontend application. If the CustomerCheckoutStatus is Completed or OnHold, there will be a non-empty list of OrderItems",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/GetOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "Possible reasons: arguments cannot be null, invalid input, invalid order id",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "404": {
                  "description": "Order not found",
                  "content": {
                    "application/octet-stream": {
                      "schema": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/Orders/{id}": {
            "put": {
              "tags": [
                "Orders"
              ],
              "summary": "Updates existing order",
              "description": "Once an order is created, the merchant can update the list of OrderItems by sending an UpdateOrder request",
              "operationId": "updateOrder",
              "parameters": [
                {
                  "name": "id",
                  "in": "path",
                  "required": true,
                  "description": "Id of order to update",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-position": 1
                }
              ],
              "requestBody": {
                "x-name": "updateOrderRequest",
                "description": "Order details to be updated",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/UpdateOrderRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 2
              },
              "responses": {
                "200": {
                  "description": "HTTP Header: Location with the updated resource",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                },
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            },
            "get": {
              "tags": [
                "Orders"
              ],
              "summary": "Gets existing order",
              "description": "Once an order is created, the merchant will receive the corresponding OrderId in the HTTP header of the response. The OrderId returned by createOrder operation can be used to get the order information",
              "operationId": "getOrder",
              "parameters": [
                {
                  "name": "id",
                  "in": "path",
                  "required": true,
                  "description": "Order id to get order by",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-position": 1
                }
              ],
              "responses": {
                "200": {
                  "description": "Information about the order, together with the HTML snippet used to deploy the Qliro Checkout frontend application. If the CustomerCheckoutStatus is Completed or OnHold, there will be a non-empty list of OrderItems",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/GetOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "Possible reasons: arguments cannot be null, invalid input, invalid order id",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "404": {
                  "description": "Order not found",
                  "content": {
                    "application/octet-stream": {
                      "schema": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/Upsell": {
            "post": {
              "tags": [
                "Upsell"
              ],
              "summary": "Upsell order",
              "description": "Once an order is completed and eligible for Upsell, merchant can add list of OrderItems to the existing order by sending an Upsell request",
              "operationId": "upsellOrder",
              "requestBody": {
                "x-name": "request",
                "description": "Upsell order request",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/UpsellOrderRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "200": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/UpsellOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "See ErrorCode and ErrorMessage for more details.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/CreateMerchantSavedCreditCard": {
            "post": {
              "tags": [
                "MerchantCreditCard"
              ],
              "summary": "Saves new credit card",
              "description": "This request will work similar to Create Order html snippet population. When customer will complete new credit card registration and payment become successful redirections will be performed to merchant specified MerchantConfirmationUrl. Note new credit card token registration can take time depends of credit card provider. Merchant will be notified about new merchant credit card details by push notification to MerchantSavedCreditCardPushUrl",
              "operationId": "createMerchantSavedCreditCard",
              "requestBody": {
                "x-name": "createMerchantSavedCreditCardRequest",
                "description": "Request to save credit card for recurring orders.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CreateMerchantSavedCreditCardRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "200": {
                  "description": "HTTP Header: Location with the new resource",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CreateMerchantSavedCreditCardResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage for more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/RemoveMerchantSavedCreditCard": {
            "delete": {
              "tags": [
                "MerchantCreditCard"
              ],
              "summary": "Removes existing credit card",
              "description": "This request can be used to remove a saved credit card information from Qliro system",
              "operationId": "removeMerchantSavedCreditCard",
              "requestBody": {
                "x-name": "removeMerchantCreditCardRequest",
                "description": "Request to remove existing credit card information.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/RemoveMerchantSavedCreditCardRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage for more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/InStore/orders": {
            "post": {
              "tags": [
                "InStore"
              ],
              "summary": "Initiates new order",
              "description": "When merchant is ready to initiate InStore order this request should be used",
              "operationId": "createInStoreOrder",
              "requestBody": {
                "x-name": "createInStoreOrderRequest",
                "description": "Order to be created",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CreateInStoreOrderRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "201": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CreateOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage for more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/InStore/orders/{id}": {
            "get": {
              "tags": [
                "InStore"
              ],
              "summary": "Gets existing order details",
              "description": "Once an order is created, customer will receive an SMS containing PaymentLink to proceed with order",
              "operationId": "getInStoreOrder",
              "parameters": [
                {
                  "name": "id",
                  "in": "path",
                  "required": true,
                  "description": "QliroOne Order Id",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-position": 1
                }
              ],
              "responses": {
                "200": {
                  "description": "Response contains order information along with PaymentLink for customer to proceed with order.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/GetInStoreOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "Possible reasons: arguments cannot be null, invalid input, invalid order id",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "404": {
                  "description": "Order not found",
                  "content": {
                    "application/octet-stream": {
                      "schema": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/CreditCheckInformation/{id}": {
            "get": {
              "tags": [
                "CreditCheckInformation"
              ],
              "summary": "Credit Check Information",
              "description": "Get credit check information using payment transaction id",
              "operationId": "CreditCheckInformation_Get",
              "parameters": [
                {
                  "name": "id",
                  "in": "path",
                  "required": true,
                  "description": "Payment Transaction Id",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-position": 1
                }
              ],
              "responses": {
                "200": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/GetCreditCheckInformationResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "/PaymentOptions": {
            "post": {
              "tags": [
                "PaymentOptions"
              ],
              "summary": "Gets payment options",
              "operationId": "getPaymentOptions",
              "requestBody": {
                "x-name": "request",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/GetPaymentOptionsRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/PaymentWidget/orders": {
            "post": {
              "tags": [
                "PaymentWidget"
              ],
              "summary": "Creates new widget order",
              "description": "When the merchant wants to use a payment widget, the order is created on Qliro end through this request",
              "operationId": "createPaymentWidgetOrder",
              "requestBody": {
                "x-name": "createPaymentWidgetOrderRequest",
                "description": "Order details to be created",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CreatePaymentWidgetOrderRequest"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "201": {
                  "description": "Contains the order id for the newly created payment widget order",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CreateOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "See ErrorCode and DetailedErrorMessage more details",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "500": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/PaymentWidget/orders/{id}": {
            "get": {
              "tags": [
                "PaymentWidget"
              ],
              "summary": "Gets an existing payment widget order",
              "description": "Once an order is created, the merchant will receive the corresponding OrderId the response. The OrderId returned by createOrder operation can be used to get the order information",
              "operationId": "getPaymentWidgetOrder",
              "parameters": [
                {
                  "name": "id",
                  "in": "path",
                  "required": true,
                  "description": "Order id to get order by",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-position": 1
                }
              ],
              "responses": {
                "200": {
                  "description": "Information about the order, together with more information to be able to intialize the widget front end api. If the CustomerCheckoutStatus is Completed or OnHold, there will be a non-empty list of OrderItems",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/GetPaymentWidgetOrderResponse"
                      }
                    }
                  }
                },
                "400": {
                  "description": "Possible reasons: arguments cannot be null, invalid input, invalid order id",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                },
                "404": {
                  "description": "Order not found",
                  "content": {
                    "application/octet-stream": {
                      "schema": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "500": {
                  "description": "System error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ErrorResponseModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "/BackwardsCompatibilityCheck": {
            "get": {
              "tags": [
                "BackwardsCompatibilityCheck"
              ],
              "summary": "Get BackwardsCompatibility response model",
              "description": "Returns predefined model for e2e validation",
              "operationId": "BackwardsCompatibilityCheck_Get",
              "responses": {
                "200": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/ResponseModel"
                      }
                    }
                  }
                }
              }
            },
            "post": {
              "tags": [
                "BackwardsCompatibilityCheck"
              ],
              "summary": "Post BackwardsCompatibility request model",
              "description": "Accepts predefined model for e2e validation",
              "operationId": "BackwardsCompatibilityCheck_Post",
              "requestBody": {
                "x-name": "request",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/RequestModel"
                    }
                  }
                },
                "required": true,
                "x-position": 1
              },
              "responses": {
                "200": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {}
                    }
                  }
                },
                "400": {
                  "description": "",
                  "content": {
                    "application/json": {
                      "schema": {}
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "schemas": {
            "GetCreditCheckInformationResponse": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "HistoricalFraud": {
                  "type": "boolean",
                  "nullable": true
                },
                "CreditReport": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "CreateOrderResponse": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "OrderId": {
                  "type": "integer",
                  "format": "int64",
                  "example": 12345
                },
                "PaymentLink": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "ErrorResponseModel": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "ErrorCode": {
                  "type": "string",
                  "description": "Unique error code",
                  "nullable": true,
                  "example": "ORDER_NOT_FOUND"
                },
                "DetailedErrorMessage": {
                  "type": "string",
                  "description": "Detailed error message",
                  "nullable": true,
                  "example": "Order not found"
                },
                "ErrorReference": {
                  "type": "string",
                  "description": "A tracking ID from Qliro Checkout",
                  "format": "guid",
                  "example": "d7da92f4-1ad9-48c3-9cd3-26559c98e64c"
                }
              }
            },
            "CreateInStoreOrderRequest": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RequestBase"
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "MerchantReference",
                    "Currency",
                    "Country",
                    "Language",
                    "MerchantTermsUrl",
                    "MerchantOrderManagementStatusPushUrl",
                    "MerchantCheckoutStatusPushUrl",
                    "OrderItems",
                    "CustomerInformation"
                  ],
                  "properties": {
                    "MerchantReference": {
                      "type": "string",
                      "description": "A string generated by the merchant to identify the order uniquely in their system. Maximum length is 25 characters.",
                      "minLength": 1,
                      "pattern": "^[A-Za-z0-9_-]{1,25}$",
                      "example": "MerchantUniqueReference"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Three uppercase characters, in accordance with ISO 4217.",
                      "minLength": 1,
                      "example": "SEK"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Two upper case characters. In accordance with ISO 3166-1.",
                      "minLength": 1,
                      "example": "SE"
                    },
                    "Language": {
                      "type": "string",
                      "description": "Locale indicative for language & other location-specific details.",
                      "minLength": 1,
                      "example": "sv-se"
                    },
                    "MerchantTermsUrl": {
                      "type": "string",
                      "description": "A URL where the customer can find the merchant's terms and conditions.",
                      "format": "uri",
                      "minLength": 1,
                      "example": "https://merchant.com/terms/"
                    },
                    "MerchantIntegrityPolicyUrl": {
                      "type": "string",
                      "description": "A URL where the customer can find the merchant's integrity policy.",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://merchant.com/policy/"
                    },
                    "MerchantOrderValidationUrl": {
                      "type": "string",
                      "description": "If specified, Qliro will use this URL to try to validate the order before completing the purchase. Info about authentication for this request can be found below. Should use https.",
                      "nullable": true,
                      "example": "https://merchant.com/orderValidation/"
                    },
                    "MerchantOrderManagementStatusPushUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send notifications on payment status changes during the order management process, for example when the payment created by MarkItemsAsShipped call becomes successful. Info about authentication for this request can be found below. Should use https.",
                      "minLength": 1,
                      "example": "https://ordermanagement.merchant.com/ordermanagementstatus"
                    },
                    "MerchantCheckoutStatusPushUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send customer checkout status updates. For example when the checkout status switches from OnHold to Completed. Info about authentication for this request can be found below. Should use https.",
                      "minLength": 1,
                      "example": "https://ordermanagement.merchant.com/checkoutstatus"
                    },
                    "OrderItems": {
                      "type": "array",
                      "description": "List of items customer added to the cart. ",
                      "items": {
                        "$ref": "#/components/schemas/OrderItem"
                      }
                    },
                    "CustomerInformation": {
                      "description": "Customer information used to try to identify the customer without user interaction. ",
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CustomerInformation"
                        }
                      ]
                    },
                    "MinimumCustomerAge": {
                      "type": "integer",
                      "description": "If specified, the customer will have to be at least this old to complete a purchase with Qliro Checkout. This will prevent the customer from authenticating as a company.",
                      "format": "int32",
                      "maximum": 2147483647,
                      "minimum": 0,
                      "nullable": true,
                      "example": 18
                    }
                  }
                }
              ]
            },
            "OrderItem": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "MerchantReference",
                "Quantity",
                "PricePerItemIncVat"
              ],
              "properties": {
                "MerchantReference": {
                  "type": "string",
                  "description": "A string generated by the merchant to identify the order item. The combination of MerchantReference and Price Per Item Including Vat is used to uniquely identify the order item. Maximum length is 200 characters.",
                  "minLength": 1,
                  "pattern": "^[\\p{L}\\s(.)'\\-_&,\\/–+0-9:]{1,200}$",
                  "example": "RedHat"
                },
                "Description": {
                  "type": "string",
                  "description": "A name or description of the order item.",
                  "maxLength": 4000,
                  "nullable": true,
                  "example": "Red hat original product"
                },
                "Type": {
                  "type": "string",
                  "description": "Can be 'Product', 'Discount', 'Fee' or 'Shipping'",
                  "nullable": true,
                  "example": "Product"
                },
                "Quantity": {
                  "type": "integer",
                  "description": "The number of these items in the cart.",
                  "format": "int32",
                  "maximum": 2147483647,
                  "minimum": 1,
                  "example": 3
                },
                "PricePerItemIncVat": {
                  "type": "number",
                  "description": "The price per item including Value Added Tax. This can be specified with 0, 1 or 2 decimals, e.g. 99, 99.9 or 99.99.",
                  "format": "decimal",
                  "example": 375.55
                },
                "PricePerItemExVat": {
                  "type": "number",
                  "description": "The price per item excluding Value Added Tax. This can be specified with 0, 1 or 2 decimals, e.g. 99, 99.9 or 99.99.",
                  "format": "decimal",
                  "example": 300.35
                },
                "Metadata": {
                  "description": "Only available in create order and update order requests. Can be used to indicate if an item includes some kind of risk. If an item has been flagged with the property HasRisk, then depending on the merchant setup in Qliro Checkout, some payment methods will be disabled. This behavior is customizable in the merchant preferences. It can also be used to indicate that an order item is a subscription. If it is indicated as a subscription Qliro Checkout will show some additional terms for Qliro invoice if Qliro invoice is enabled for the merchant.",
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MetadataContainer"
                    }
                  ]
                }
              }
            },
            "MetadataContainer": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "HasRisk": {
                  "type": "boolean",
                  "description": "If true, order item considered as risk item. Default is false.",
                  "nullable": true,
                  "example": true
                },
                "Subscription": {
                  "description": "It indicates that order item is a subscription if Enabled is true.",
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  ]
                },
                "TravelInformation": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TravelInformation"
                    }
                  ]
                },
                "Ingrid": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Ingrid"
                    }
                  ]
                },
                "MerchantData": {
                  "type": "string",
                  "maxLength": 250,
                  "nullable": true
                }
              }
            },
            "Subscription": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Enabled": {
                  "type": "boolean"
                }
              }
            },
            "TravelInformation": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "DepartureCountry": {
                  "type": "string",
                  "nullable": true
                },
                "DepartureCity": {
                  "type": "string",
                  "nullable": true
                },
                "DepartureIATACode": {
                  "type": "string",
                  "nullable": true
                },
                "ArrivalCountry": {
                  "type": "string",
                  "nullable": true
                },
                "ArrivalCity": {
                  "type": "string",
                  "nullable": true
                },
                "ArrivalIATACode": {
                  "type": "string",
                  "nullable": true
                },
                "StopOverCountry": {
                  "type": "string",
                  "nullable": true
                },
                "StopOverCity": {
                  "type": "string",
                  "nullable": true
                },
                "StopOverIATACode": {
                  "type": "string",
                  "nullable": true
                },
                "TravelType": {
                  "type": "string",
                  "nullable": true
                },
                "BookingDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "DepartureDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "ReturnDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "DaysToDeparture": {
                  "type": "integer",
                  "format": "int32"
                },
                "NoOfPassengers": {
                  "type": "integer",
                  "format": "int32"
                },
                "Travelers": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "$ref": "#/components/schemas/Traveler"
                  }
                },
                "Class": {
                  "type": "string",
                  "nullable": true
                },
                "Airline": {
                  "type": "string",
                  "nullable": true
                },
                "NoOfLuggage": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "Traveler": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "FirstName": {
                  "type": "string",
                  "nullable": true
                },
                "LastName": {
                  "type": "string",
                  "nullable": true
                },
                "IsMainTraveller": {
                  "type": "boolean"
                },
                "Gender": {
                  "$ref": "#/components/schemas/Gender"
                },
                "DateOfBirth": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "Gender": {
              "type": "integer",
              "description": "",
              "x-enumNames": [
                "Unknown",
                "Female",
                "Male"
              ],
              "enum": [
                0,
                1,
                2
              ]
            },
            "Ingrid": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Weight": {
                  "type": "integer",
                  "format": "int32",
                  "nullable": true
                },
                "Sku": {
                  "type": "string",
                  "nullable": true
                },
                "ShippingDate": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ShippingDateRange"
                    }
                  ]
                },
                "Attributes": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "string"
                  }
                },
                "Dimensions": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ItemDimensions"
                    }
                  ]
                },
                "OutOfStock": {
                  "type": "boolean",
                  "nullable": true
                },
                "Discount": {
                  "type": "number",
                  "format": "decimal",
                  "nullable": true
                }
              }
            },
            "ShippingDateRange": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Start": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "End": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            },
            "ItemDimensions": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Height": {
                  "type": "integer",
                  "format": "int32",
                  "nullable": true
                },
                "Length": {
                  "type": "integer",
                  "format": "int32",
                  "nullable": true
                },
                "Width": {
                  "type": "integer",
                  "format": "int32",
                  "nullable": true
                }
              }
            },
            "CustomerInformation": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "MobileNumber"
              ],
              "properties": {
                "PersonalNumber": {
                  "type": "string",
                  "description": "A national identification number to identify the customer.",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": "111111-1111"
                },
                "Email": {
                  "type": "string",
                  "description": "The customer's email address",
                  "maxLength": 255,
                  "minLength": 0,
                  "nullable": true,
                  "example": "email@domain.com"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "The customer's mobile number",
                  "maxLength": 50,
                  "minLength": 0,
                  "example": "+46101010101"
                },
                "Address": {
                  "description": "The customer's address. If provided and complete, the address will be presented as an alternative to the address fetched by Qliro Checkout. For B2B customer treat this address as billing address",
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Address"
                    }
                  ]
                },
                "LockCustomerAddress": {
                  "type": "boolean",
                  "description": "If true, provided valid Address become order ShippingAddress. If no valid address is provided, this flag will be ignored.",
                  "nullable": true,
                  "example": false
                }
              }
            },
            "Address": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "FirstName": {
                  "type": "string",
                  "description": "The first name of a physical customer's address.",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "John"
                },
                "LastName": {
                  "type": "string",
                  "description": "The Last name of a physical customer's address.",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "Doe"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "Address holders company name, only applicable for Company Customers",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "Qliro AB"
                },
                "Street": {
                  "type": "string",
                  "description": "The street name and number of the address.",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "Sveavägen 151"
                },
                "Street2": {
                  "type": "string",
                  "description": "The secondary address line for apartment, suite, department, unit, building, floor etc. Used for company customers and for physical customers in the following countries:\nAustralia, Bosnia and Herzegovina, Canada, Croatia, Cyprus, Czech Rebublic, Estonia, France, Greece, Hungary, Iceland, Ireland, Italy, Lithuania,\nLuxembourg, Macedonia, Malta, Montenegro, Poland, Portugal, Romania, Serbia, Slovakia, Slovenia, Spain, UK, US, Åland.",
                  "maxLength": 40,
                  "minLength": 0,
                  "nullable": true,
                  "example": "lgh 1001"
                },
                "PostalCode": {
                  "type": "string",
                  "description": "The postal code of the address.",
                  "maxLength": 15,
                  "minLength": 0,
                  "nullable": true,
                  "example": 12345
                },
                "City": {
                  "type": "string",
                  "description": "The city of the address.",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "Stockholm"
                },
                "CareOf": {
                  "type": "string",
                  "description": "Used if the addressee doesn't have a standard address.",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "Jane Doe"
                },
                "Area": {
                  "type": "string",
                  "description": "The State/Province/Region of the address. Used in the following countries:\nAustralia, Bosnia and Herzegovina, Canada, Cyprus, Ireland, Italy, Lithuania,Luxembourg, Macedonia, Malta, Montenegro, Romania, US, Åland.",
                  "maxLength": 100,
                  "minLength": 0,
                  "nullable": true,
                  "example": "New York"
                },
                "AreaCode": {
                  "type": "string",
                  "description": "Geographical area code in ISO3166-2 format.",
                  "maxLength": 10,
                  "minLength": 0,
                  "nullable": true,
                  "example": "US-NY"
                }
              }
            },
            "RequestBase": {
              "type": "object",
              "x-abstract": true,
              "additionalProperties": false,
              "required": [
                "MerchantApiKey"
              ],
              "properties": {
                "MerchantApiKey": {
                  "type": "string",
                  "description": "Will be provided by Qliro Checkout when setting up merchant account",
                  "maxLength": 50,
                  "minLength": 0,
                  "example": "MerchantApiKey"
                }
              }
            },
            "GetInStoreOrderResponse": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/GetOrderResponseBase"
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "PaymentLink": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaymentLinkData"
                        }
                      ]
                    }
                  }
                }
              ]
            },
            "PaymentLinkData": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Link": {
                  "type": "string",
                  "nullable": true,
                  "example": "https://secure.qit.nu/instore/?encryptedId=abc"
                }
              }
            },
            "GetOrderResponseBase": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "OrderId": {
                  "type": "integer",
                  "description": "Qliro Checkout order id.",
                  "format": "int64",
                  "example": 12345
                },
                "MerchantReference": {
                  "type": "string",
                  "description": "A string generated by the merchant to identify the order uniquely in their system. Maximum length is 25 characters.",
                  "nullable": true,
                  "example": "MerchantUniqueReference"
                },
                "TotalPrice": {
                  "type": "number",
                  "format": "decimal",
                  "example": 1576.65
                },
                "Currency": {
                  "type": "string",
                  "nullable": true,
                  "example": "SEK"
                },
                "Country": {
                  "type": "string",
                  "nullable": true,
                  "example": "SE"
                },
                "Language": {
                  "type": "string",
                  "nullable": true,
                  "example": "sv-se"
                },
                "CustomerCheckoutStatus": {
                  "type": "string",
                  "nullable": true,
                  "example": "Success"
                },
                "CustomerVerifiedEmail": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CustomerVerifiedEmailData"
                    }
                  ]
                },
                "Customer": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Customer"
                    }
                  ]
                },
                "BillingAddress": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Address2"
                    }
                  ]
                },
                "ShippingAddress": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Address2"
                    }
                  ]
                },
                "OrderItems": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "$ref": "#/components/schemas/OrderItem2"
                  }
                },
                "PaymentMethod": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PaymentMethod"
                    }
                  ]
                },
                "SignupForNewsletter": {
                  "type": "boolean",
                  "nullable": true,
                  "example": true
                },
                "AskForNewsletterSignupChecked": {
                  "type": "boolean",
                  "nullable": true,
                  "example": true
                },
                "IdentityVerification": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/IdentityVerification"
                    }
                  ]
                },
                "MerchantProvidedMetadata": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "$ref": "#/components/schemas/MerchantProvidedMetadataTag"
                  }
                }
              }
            },
            "CustomerVerifiedEmailData": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "UpdateVerifiedEmailLink": {
                  "type": "string",
                  "nullable": true,
                  "example": "https://www.qliro.com/sv-se"
                },
                "VerifiedEmail": {
                  "type": "string",
                  "nullable": true,
                  "example": "verified@email.com"
                },
                "VerifiedEmailDiffers": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "Customer": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "FirstName": {
                  "type": "string",
                  "nullable": true,
                  "example": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "nullable": true,
                  "example": "LastName"
                },
                "PersonalNumber": {
                  "type": "string",
                  "nullable": true,
                  "example": "111111-1111"
                },
                "VatNumber": {
                  "type": "string",
                  "nullable": true,
                  "example": "SE111111111101"
                },
                "Email": {
                  "type": "string",
                  "nullable": true,
                  "example": "email@domain.com"
                },
                "MobileNumber": {
                  "type": "string",
                  "nullable": true,
                  "example": "+46101010101"
                },
                "JuridicalType": {
                  "example": "Physical",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JuridicalType"
                    }
                  ]
                },
                "DateOfBirth": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "1990-01-01"
                },
                "Gender": {
                  "nullable": true,
                  "example": "Male",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Gender"
                    }
                  ]
                }
              }
            },
            "JuridicalType": {
              "type": "integer",
              "description": "",
              "x-enumNames": [
                "Physical",
                "Company"
              ],
              "enum": [
                0,
                1
              ]
            },
            "Address2": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "FirstName": {
                  "type": "string",
                  "nullable": true,
                  "example": "First"
                },
                "LastName": {
                  "type": "string",
                  "nullable": true,
                  "example": "Last"
                },
                "CompanyName": {
                  "type": "string",
                  "nullable": true,
                  "example": null
                },
                "CareOf": {
                  "type": "string",
                  "nullable": true
                },
                "Street": {
                  "type": "string",
                  "nullable": true,
                  "example": "Street"
                },
                "Street2": {
                  "type": "string",
                  "nullable": true,
                  "example": "Street2"
                },
                "PostalCode": {
                  "type": "string",
                  "nullable": true,
                  "example": 12345
                },
                "City": {
                  "type": "string",
                  "nullable": true,
                  "example": "City"
                },
                "CountryCode": {
                  "type": "string",
                  "nullable": true,
                  "example": "SE"
                },
                "Area": {
                  "type": "string",
                  "nullable": true,
                  "example": "Area"
                },
                "AreaCode": {
                  "type": "string",
                  "description": "Currently only used for US. Will contain the ISO-3166-2 code for the current state (Area)",
                  "nullable": true,
                  "example": "US-CA"
                }
              }
            },
            "OrderItem2": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "MerchantReference": {
                  "type": "string",
                  "nullable": true,
                  "example": "MerchantUniqueReference"
                },
                "Description": {
                  "type": "string",
                  "nullable": true,
                  "example": "Original product"
                },
                "Quantity": {
                  "type": "integer",
                  "format": "int32",
                  "example": 5
                },
                "PricePerItemIncVat": {
                  "type": "number",
                  "format": "decimal",
                  "example": 10
                },
                "PricePerItemExVat": {
                  "type": "number",
                  "format": "decimal",
                  "example": 8
                },
                "Type": {
                  "example": "Product",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OrderItemType"
                    }
                  ]
                },
                "Metadata": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  ]
                },
                "PaymentTransactionId": {
                  "type": "integer",
                  "format": "int64",
                  "example": 123456
                }
              }
            },
            "OrderItemType": {
              "type": "integer",
              "description": "",
              "x-enumNames": [
                "Product",
                "Discount",
                "Fee",
                "Shipping"
              ],
              "enum": [
                0,
                1,
                2,
                3
              ]
            },
            "Metadata": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "ShippingMethodMerchantReference": {
                  "type": "string",
                  "nullable": true,
                  "example": "UniqueMerchantReference"
                },
                "ShippingMethodSecondaryOptionMerchantReference": {
                  "type": "string",
                  "nullable": true,
                  "example": "UniqueMerchantReference"
                },
                "ShippingMethodAccessCode": {
                  "type": "string",
                  "nullable": true,
                  "example": "ACCESS_CODE"
                },
                "AdditionalShippingProperties": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AdditionalShippingPropertiesData"
                    }
                  ]
                },
                "MerchantData": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "AdditionalShippingPropertiesData": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "ShippingProvider": {
                  "type": "string",
                  "nullable": true
                },
                "ServiceId": {
                  "type": "string",
                  "nullable": true
                },
                "Agent": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AgentData"
                    }
                  ]
                }
              }
            },
            "AgentData": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Id": {
                  "type": "string",
                  "nullable": true
                },
                "Name": {
                  "type": "string",
                  "nullable": true
                },
                "MapLongitude": {
                  "type": "number",
                  "format": "double",
                  "nullable": true
                },
                "MapLatitude": {
                  "type": "number",
                  "format": "double",
                  "nullable": true
                },
                "Address1": {
                  "type": "string",
                  "nullable": true
                },
                "Address2": {
                  "type": "string",
                  "nullable": true
                },
                "ZipCode": {
                  "type": "string",
                  "nullable": true
                },
                "City": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "PaymentMethod": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "PaymentMethodName": {
                  "type": "string",
                  "nullable": true,
                  "example": "PaymentMethodName"
                },
                "PaymentTypeCode": {
                  "type": "string",
                  "nullable": true,
                  "example": "PaymentTypeCode"
                }
              }
            },
            "IdentityVerification": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "RequireIdentityVerification": {
                  "type": "boolean",
                  "nullable": true,
                  "example": false
                },
                "IdentityVerified": {
                  "type": "boolean",
                  "nullable": true,
                  "example": false
                }
              }
            },
            "MerchantProvidedMetadataTag": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Key": {
                  "type": "string",
                  "description": "Merchant provided metadata element key. Max string length is 50.",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": "PromoCode"
                },
                "Value": {
                  "type": "string",
                  "description": "Merchant provided metadata element value. Max string length is 250.",
                  "maxLength": 250,
                  "minLength": 0,
                  "nullable": true,
                  "example": "ABC123"
                }
              }
            },
            "CreateMerchantSavedCreditCardResponse": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "OrderId": {
                  "type": "integer",
                  "format": "int64",
                  "example": 12345
                },
                "OrderForRegistrationTokenHtmlSnippet": {
                  "type": "string",
                  "nullable": true,
                  "example": "{script tag}"
                }
              }
            },
            "CreateMerchantSavedCreditCardRequest": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RequestBase"
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "MerchantReference",
                    "Currency",
                    "Country",
                    "Language",
                    "MerchantSavedCreditCardPushUrl",
                    "Customer"
                  ],
                  "properties": {
                    "MerchantReference": {
                      "type": "string",
                      "description": "A string generated by the merchant to identify the order uniquely in their system. Maximum length is 25 characters.",
                      "minLength": 1,
                      "pattern": "^[A-Za-z0-9_-]{1,25}$",
                      "example": "MerchantUniqueReference"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Three uppercase characters, in accordance with ISO 4217.",
                      "minLength": 1,
                      "example": "SEK"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Two upper case characters. In accordance with ISO 3166-1.",
                      "minLength": 1,
                      "example": "SE"
                    },
                    "Language": {
                      "type": "string",
                      "description": "Locale indicative for language & other location-specific details.",
                      "minLength": 1,
                      "example": "sv-se"
                    },
                    "MerchantSavedCreditCardPushUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send notifications on saved merchant credit card.",
                      "minLength": 1,
                      "example": "https://merchant.com/MerchantSavedCreditCardPushUrl/"
                    },
                    "MerchantConfirmationUrl": {
                      "type": "string",
                      "description": "A URL to where Qliro will redirect the the customer once the payment is completed.",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://merchant.com/confirmation/"
                    },
                    "Customer": {
                      "description": "Customer information used to try to identify the customer without user interaction. ",
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CustomerInformation2"
                        }
                      ]
                    }
                  }
                }
              ]
            },
            "CustomerInformation2": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "Email",
                "JuridicalType",
                "MobileNumber"
              ],
              "properties": {
                "PersonalNumber": {
                  "type": "string",
                  "description": "A national identification number to identify the customer.",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": "111111-1111"
                },
                "VatNumber": {
                  "type": "string",
                  "description": "Value added tax number for Company use.",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": "SE111111111101"
                },
                "Email": {
                  "type": "string",
                  "description": "The customer's email address",
                  "maxLength": 255,
                  "minLength": 0,
                  "example": "email@domain.com"
                },
                "JuridicalType": {
                  "type": "string",
                  "description": "'Physical' or 'Company'. If 'Company', the PersonalNumber parameter will be interpreted as an organization number.",
                  "minLength": 1,
                  "example": "Physical"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "The customer's mobile number",
                  "maxLength": 50,
                  "minLength": 0,
                  "example": "+46101010101"
                },
                "PostalCode": {
                  "type": "string",
                  "description": "The customer’s  postal code",
                  "maxLength": 15,
                  "minLength": 0,
                  "nullable": true,
                  "example": 12345
                }
              }
            },
            "RemoveMerchantSavedCreditCardRequest": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RequestBase"
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "MerchantSavedCreditCardId": {
                      "type": "string",
                      "description": "Qliro provided an Id in notification to merchant when credit card was saved. Use same Id to remove credit card from Qliro system. ",
                      "format": "guid",
                      "example": "d7da92f4-1ad9-48c3-9cd3-26559c98e64c"
                    }
                  }
                }
              ]
            },
            "CreateOrderRequest": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RequestBase"
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "MerchantReference",
                    "Currency",
                    "Country",
                    "Language",
                    "MerchantTermsUrl",
                    "MerchantConfirmationUrl",
                    "OrderItems"
                  ],
                  "properties": {
                    "MerchantReference": {
                      "type": "string",
                      "description": "A string generated by the merchant to identify the order uniquely in their system. Maximum length is 25 characters.",
                      "minLength": 1,
                      "pattern": "^[A-Za-z0-9_-]{1,25}$",
                      "example": "MerchantUniqueReference"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Three uppercase characters, in accordance with ISO 4217.",
                      "minLength": 1,
                      "example": "SEK"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Two upper case characters. In accordance with ISO 3166-1.",
                      "minLength": 1,
                      "example": "SE"
                    },
                    "Language": {
                      "type": "string",
                      "description": "Locale indicative for language & other location-specific details.",
                      "minLength": 1,
                      "example": "sv-se"
                    },
                    "MerchantTermsUrl": {
                      "type": "string",
                      "description": "A URL where the customer can find the merchant's terms and conditions.",
                      "format": "uri",
                      "minLength": 1,
                      "example": "https://merchant.com/terms/"
                    },
                    "MerchantIntegrityPolicyUrl": {
                      "type": "string",
                      "description": "A URL where the customer can find the merchant's integrity policy.",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://merchant.com/policy/"
                    },
                    "MerchantConfirmationUrl": {
                      "type": "string",
                      "description": "A URL to where Qliro will redirect the the customer once the payment is completed.",
                      "format": "uri",
                      "minLength": 1,
                      "example": "https://merchant.com/confirmation/"
                    },
                    "MerchantOrderValidationUrl": {
                      "type": "string",
                      "description": "If specified, Qliro will use this URL to try to validate the order before completing the purchase. Info about authentication for this request can be found below. Should use https.",
                      "nullable": true,
                      "example": "https://merchant.com/orderValidation/"
                    },
                    "MerchantOrderAvailableShippingMethodsUrl": {
                      "type": "string",
                      "description": "Used if Qliro Checkout should handle the shipping interaction with the customer. This URL will be used to fetch new Shipping Methods when customer information updates. See the Update Shipping Methods section under Notifications. Info about authentication for this request can be found below. Should use https.",
                      "nullable": true,
                      "example": "https://merchant.com/avaliableShippingMethods/"
                    },
                    "MerchantOrderManagementStatusPushUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send notifications on payment status changes during the order management process, for example when the payment created by MarkItemsAsShipped call becomes successful. This must either be provided in the request or configured for you by Qliro. Info about authentication for this request can be found below. Should use https.",
                      "nullable": true,
                      "example": "https://ordermanagement.merchant.com/checkoutstatus"
                    },
                    "MerchantNotificationUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send notifications for general status updates. For example if you are using integrated shipping providers (e.g. nShift or Ingrid) this url will be called when we complete or if we get an error from the shipping provider api:s.",
                      "nullable": true,
                      "example": "https://ordermanagement.merchant.com/checkoutstatus"
                    },
                    "MerchantCheckoutStatusPushUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send customer checkout status updates. For example when the checkout status switches from OnHold to Completed. This must either be provided in the request or configured for you by Qliro. Info about authentication for this request can be found below. Should use https.",
                      "nullable": true,
                      "example": "https://ordermanagement.merchant.com/checkoutstatus"
                    },
                    "MerchantSavedCreditCardPushUrl": {
                      "type": "string",
                      "description": "Qliro will use this URL to send notifications on saved merchant credit card.",
                      "nullable": true,
                      "example": "https://ordermanagement.merchant.com/creditcard"
                    },
                    "MerchantOrderAvailableShippingAddressesUrl": {
                      "type": "string",
                      "description": "Used if merchant is willing to provide a list of predefined shipping addresses for customer to choose from. This URL will be used to fetch Available Shipping Addresses when customer information updates. See the Update Shipping Addresses section under Notifications. Info about authentication for this request can be found below. Should use https.",
                      "nullable": true,
                      "example": "https://merchant.com/avaliableShippingAddresses/"
                    },
                    "PrimaryColor": {
                      "type": "string",
                      "description": "Hex color code to use as primary color in Qliro Checkout.",
                      "nullable": true,
                      "example": "#00AB84"
                    },
                    "CallToActionColor": {
                      "type": "string",
                      "description": "Hex color code to use as call to action color in Qliro Checkout.",
                      "nullable": true,
                      "example": "#00AB84"
                    },
                    "CallToActionHoverColor": {
                      "type": "string",
                      "description": "Hex color code to use as call to action hover color in Qliro Checkout. If not provided, the hover color will be a blend between the call to action color and the background color.",
                      "nullable": true,
                      "example": "#24BB99"
                    },
                    "BackgroundColor": {
                      "type": "string",
                      "description": "Hex color code to use as background color in Qliro Checkout. Only colors with saturation <= 10% are supported. If a color with saturation > 10% is provided, the saturation will be lowered to 10%.",
                      "nullable": true,
                      "example": "#F7F7F7"
                    },
                    "CornerRadius": {
                      "type": "integer",
                      "description": "A pixel value to be used on corners throughout Qliro Checkout.",
                      "format": "int32",
                      "maximum": 1000,
                      "minimum": 0,
                      "nullable": true,
                      "example": 7
                    },
                    "ButtonCornerRadius": {
                      "type": "integer",
                      "description": "A pixel value to be used on corners of buttons throughout Qliro Checkout.",
                      "format": "int32",
                      "maximum": 1000,
                      "minimum": 0,
                      "nullable": true,
                      "example": 20
                    },
                    "OrderItems": {
                      "type": "array",
                      "description": "List of items customer added to the cart.",
                      "items": {
                        "$ref": "#/components/schemas/OrderItem"
                      }
                    },
                    "CustomerInformation": {
                      "description": "Customer information used to try to identify the customer without user interaction.",
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CustomerInformation3"
                        }
                      ]
                    },
                    "AvailableShippingMethods": {
                      "type": "array",
                      "description": "Used if Qliro Checkout should handle the shipping interaction with the customer.",
                      "nullable": true,
                      "items": {
                        "$ref": "#/components/schemas/AvailableShippingMethod"
                      }
                    },
                    "EnforcedJuridicalType": {
                      "type": "string",
                      "description": "If specified, only the selected juridical type will be allowed in Qliro Checkout. 'Physical' or 'Company'.",
                      "nullable": true,
                      "example": "Physical"
                    },
                    "MinimumCustomerAge": {
                      "type": "integer",
                      "description": "If specified, the customer will have to be at least this old to complete a purchase with Qliro Checkout. This will prevent the customer from authenticating as a company.",
                      "format": "int32",
                      "maximum": 2147483647,
                      "minimum": 0,
                      "nullable": true,
                      "example": 18
                    },
                    "AskForNewsletterSignup": {
                      "type": "boolean",
                      "description": "If true, Qliro Checkout will ask the customer if they want to sign up for a newsletter. This will be communicated back in the Get Order response, if the customer completed the purchase.",
                      "nullable": true,
                      "example": true
                    },
                    "AskForNewsletterSignupChecked": {
                      "type": "boolean",
                      "description": "If true, Qliro Checkout will set signup newsletter as checked. This will be communicated back in the Get Order response, if the customer completed the purchase.",
                      "nullable": true,
                      "example": true
                    },
                    "AskForNewsletterSignupText": {
                      "type": "string",
                      "description": "This text will replace the default AskForNewsletterSignup text shown in the checkout. Can contain any letter, digits, space character, comma, ., ?, !, ', \" and be at most 50 characters long. It is not allowed to start or end the text with a space character.",
                      "nullable": true,
                      "example": "Yes, please send me the newsletter"
                    },
                    "MerchantProvidedQuestion": {
                      "description": "If used a question will be shown. If any requirements are not met the merchant provided question will be ignored.",
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/MerchantProvidedQuestionContainer"
                        }
                      ]
                    },
                    "RequireIdentityVerification": {
                      "type": "boolean",
                      "description": "Defaults to false. If true and the order country is Sweden, the customer will be asked to verify their identity with BankID when completing the purchase.",
                      "nullable": true,
                      "example": false
                    },
                    "ShippingAdditionalHeader": {
                      "type": "string",
                      "description": "If submitted, Qliro Checkout will show this text as a sub header below the shipping header. At most 100 characters.",
                      "maxLength": 300,
                      "nullable": true
                    },
                    "ApplicableFees": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/ApplicableFeeContainer"
                        }
                      ]
                    },
                    "MerchantConstraintName": {
                      "type": "string",
                      "description": "Enables dynamic filtering of payment channels available in specific orders.",
                      "maxLength": 100,
                      "minLength": 0,
                      "nullable": true,
                      "example": "CUSTOM_RULE"
                    },
                    "ShippingConfiguration": {
                      "description": "If you want to show shipping options in Qliro Checkout use this section or\nprovide your own shipping by sending us your own shipping methods url in MerchantOrderAvailableShippingMethodsUrl property",
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/ShippingConfiguration"
                        }
                      ]
                    },
                    "MerchantProvidedMetadata": {
                      "type": "array",
                      "description": "Merchant can send promotion and other information which can be retrieved later using GetOrder call if required. Maximum 30 elements allowed in list.",
                      "nullable": true,
                      "items": {
                        "$ref": "#/components/schemas/MerchantProvidedMetadataTag"
                      }
                    },
                    "PickupPersonDetails": {
                      "description": "This property is only relevant to certain merchants. If you are not a merchant who support 3rd party pickup at stores you can ignore this field.",
                      "nullable": true,
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PickupPersonData"
                        }
                      ]
                    },
                    "PaymentId": {
                      "type": "string",
                      "description": "This property is used for launching Qliro Checkout with a selected payment method/group.\nThese payment ids can be accessed by POST PaymentOptions request.",
                      "nullable": true,
                      "example": "PAY_LATER"
                    },
                    "MerchantCancelUrl": {
                      "type": "string",
                      "description": "This property is used for creating an Cancel Payment link when opening Qliro Checkout\nas a Payment Link.",
                      "nullable": true,
                      "example": "https://merchant.com/cancel/"
                    }
                  }
                }
              ]
            },
            "CustomerInformation3": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "PersonalNumber": {
                  "type": "string",
                  "description": "A national identification number to identify the customer.",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": "111111-1111"
                },
                "VatNumber": {
                  "type": "string",
                  "description": "A VAT number of the customer.",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": "SE111111111101"
                },
                "Email": {
                  "type": "string",
                  "description": "The customer's email address",
                  "maxLength": 255,
                  "minLength": 0,
                  "nullable": true,
                  "example": "email@domain.com"
                },
                "JuridicalType": {
                  "type": "string",
                  "description": "'Physical' or 'Company'. If 'Company', the PersonalNumber field will be interpreted as an organization number.",
                  "nullable": true,
                  "example": "Physical"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "The customer's mobile number",
                  "maxLength": 50,
                  "minLength": 0,
                  "nullable": true,
                  "example": 46101010101
                },
                "DateOfBirth": {
                  "type": "string",
                  "description": "The customer's date of birth. Can provide if PersonalNumber is null and JuridicalType is Physical.",
                  "format": "date-time",
                  "nullable": true
                },
                "Address": {
                  "description": "The customer's address. If provided and complete, the address will be presented as an alternative to the address fetched by Qliro Checkout. For B2B customer treat this address as billing address",
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Address"
                    }
                  ]
                },
                "ShippingAddress": {
                  "description": "The customer's shipping address for B2B customer. If provided and complete, the address will be presented as B2B customer shipping address.",
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Address"
                    }
                  ]
                },
                "LockCustomerInformation": {
                  "type": "boolean",
                  "description": "If true, Qliro Checkout will prioritize the provided address over the customer's registered one. Qliro Checkout will also prevent the customer from changing address, email or phone number inside Qliro Checkout. This can lead to Qliro payment methods being disabled, since some methods require the registered address.",
                  "nullable": true,
                  "example": true
                },
                "LockCustomerEmail": {
                  "type": "boolean",
                  "description": "If true, Qliro Checkout will prevent the customer from changing their email inside Qliro Checkout. If no valid email is provided, this flag will be ignored.",
                  "nullable": true,
                  "example": false
                },
                "LockCustomerMobileNumber": {
                  "type": "boolean",
                  "description": "If true, Qliro Checkout will prevent the customer from changing their mobile number inside Qliro Checkout. If no valid mobile number is provided, this flag will be ignored.",
                  "nullable": true,
                  "example": false
                },
                "LockCustomerPersonalNumber": {
                  "type": "boolean",
                  "description": "If true, Qliro Checkout will prevent the customer from changing their personal number or organization number inside Qliro Checkout. If no valid personal number or organization number is provided, this flag will be ignored.",
                  "nullable": true,
                  "example": false
                },
                "LockCustomerAddress": {
                  "type": "boolean",
                  "description": "If true, Qliro Checkout will prevent the customer from changing their address inside Qliro Checkout. If no valid address is provided, this flag will be ignored.",
                  "nullable": true,
                  "example": false
                }
              }
            },
            "AvailableShippingMethod": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "MerchantReference",
                "DisplayName"
              ],
              "properties": {
                "MerchantReference": {
                  "type": "string",
                  "description": "A string generated by the merchant to identify the shipping method uniquely. Maximum length is 450 characters.",
                  "maxLength": 450,
                  "minLength": 0,
                  "example": "HOME_DELIVERY"
                },
                "ShippingFeeMerchantReference": {
                  "type": "string",
                  "description": "When the customer chooses a shipping method in Qliro Checkout, an order item will be added to the cart, including the shipping fee for that particular shipping method. By default, the merchantReference of this fee item will be copied from the selected shipping option. If the ShippingFeeMerchantReference parameter is provided, the merchantReference will be overridden. Maximum length is 450 characters.",
                  "maxLength": 450,
                  "minLength": 0,
                  "nullable": true,
                  "example": "SHIPPING_FEE_REF_1"
                },
                "DisplayName": {
                  "type": "string",
[...]
